<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <ul>
        {% for usuario in usuarios %}
        <li>{{ usuario.usuario }} - {{ usuario.contrasena }}</li>
        {% endfor %}
    </ul>

    <h2>Registrar Nuevo Usuario</h2>
    <form action="/usuarios/guardar" method="POST">
        <div>
            <input type="text" name="txtUsuarioFA" placeholder="Usuario" required>
        </div>
        <div>
            <input type="password" name="txtContrasenaFA" placeholder="Contraseña" required>
        </div>
        <button type="submit">Guardar Usuario</button>
    </form>
</body>
</html>
